#logo {
  width: 180px;
  height: 60px;
} 

#menu {
text-transform: uppercase;
margin: 0 auto;
padding-bottom: 0px;
}

.card {
  width: 300px;
  height: 460px;
  margin: 0 auto 100px auto;

}

.card img{
  width: 300px;
  height: 200px;
}

#weight {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px
}

#drugs {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px
}

.livesearch {
  width: 100%;
}

#subBrand {
  font-size: 16px;
}

#side {
  height: 430px !important;
}

#navbar {
  background-color: #4F4B7D !important;
}

.social a {
  font-size: 3em;
  }

#contacts {
font-size: 36px;
color: #F53C85;
padding: 5px 15px;
}

  footer {
    padding-bottom: 0;
    margin-bottom: 0;
  }